.AllContacts{
    width: 100%;
    max-width: 1260px;
    margin: auto;
    
    &__List{
        @include fade-in();
        padding: 0 40px;
        margin-top: 61px;
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 30px;
        justify-items: center;
    }

    @include mq($until : mobile){

        &__List{
            margin: auto;
            margin-top: 25px;
            margin-bottom: 20px;
            padding: 0;
            width: 100%;
            @include flexbox(center);
            flex-direction: column;
            align-items: center;
            grid-gap: 10px
        }
    }
}